h1{
    text-align: center;
    font-weight: 400;
    text-decoration: blue underline wavy;
    letter-spacing: 10px;
    font-size: 80px ;
    font-family: verdana;
    
}
/* pixels the most commonly used absolute unit for fonts */
a{ 
    text-decoration: none;
}

p{
    text-align: right;
    font-weight: bold;
}